@media all and (min-width: 1500px) {
  .row.grid-center {
    justify-content: space-between;
    display: flex;
  }

  .col {
    flex: 1 1;
    align-items: center;
    padding: 20px;
  }
}

.searchBar {
  text-align: right;
  padding-right: 2%;
  align-self: left;
}

button.searchButton {
    background-color: #f57f17;
    width: 10em;
    border-color:#f57f17;
    padding: 0% !important;
    border-radius: 0px 25px 25px 0px;
}

input.form-control {
    padding-right: 0% !important;
    padding-left: 0% !important;
    border-radius: 25px;
    border-radius: 25px 0px 0px 25px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;  
}

.noPad{
    padding: 0% !important;
    margin: 0% !important;
}